body {
    background-image: url("../image/background.png")
}

.main {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-size: 20px;
}

.bar {
    height: 3px;
    width: 800px;
    background-color: red;
    margin: 50px auto;
}

.index {
    height: 70px;
}

.music {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.leftnav {
    position: fixed;
    left: 60px;
    top: 40%;
    width: 150px;
    height: 215px;
    background-color: #FFF4C1;
    border: 2px solid orange;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 3px skyblue;
    padding: 20px;
}

.leftnav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 20px;
    
}

.leftnav ul li {
    margin-top: 30px;
    margin-bottom: 30px;
}

.leftnav ul li a {
    text-decoration: none;
    color: rgb(162, 0, 255);
}

.leftnav ul li a:hover {
    color: red;
    transition: color ease-in-out 0.2s;
}

.leftnav p {
    position: absolute;
    left: 8px;
    margin: 0;
    color: blue;
    font-weight: bold;
}

.leftnav-topic {
    font-size: 16px;
    top: 5px;
}

.leftnav-subtopic {
    font-size: 10px;
    top: 25px;
}

.leftnav-bar {
    height: 2.5px;
    width: 100%;
    background-color: red;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}